<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <form [formGroup]="bettingSlipForm" (ngSubmit)="submitBettingSlip()">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Fogadás típusa</mat-label>
            <mat-select formControlName="betType">
              <mat-option value="Single">Egyes kötés ({{this.events.length}}x)</mat-option>
              <mat-option [disabled]="events.length === 1" value="Multi">{{events.length}}{{getCorrectSuffix()}} kötés (1x)</mat-option>
              <mat-option [disabled]="events.length <= 2" value="Combination">Kombinációs</mat-option>
              <mat-option [disabled]="events.length <= 2 || events.length >= 8" value="Special">Speciális</mat-option>
            </mat-select>
            @if (bettingSlipForm.invalid){
              <mat-error>Kérlek válassz egy fogadási formát.</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Kombinációs típus</mat-label>
            <mat-select formControlName="combinationBetType">
              @for (i of arrayOfNumbers.slice(1, -1); track $index) {
                <mat-option [value]="i"> {{i}}/{{arrayOfNumbers.length}} kombináció ({{calculateMaxCombinations(arrayOfNumbers.length, i)}}x)</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Speciális típus</mat-label>
            <mat-select formControlName="specialBetType">
              <mat-optgroup [label]="'Egyes kötések nélkül'">
                <mat-option [disabled]="events.length !== 3" [value]="false">Trixie</mat-option>
                <mat-option [disabled]="events.length !== 4" [value]="false">Yankee</mat-option>
                <mat-option [disabled]="events.length !== 5" [value]="false">Canadian</mat-option>
                <mat-option [disabled]="events.length !== 6" [value]="false">Heinz</mat-option>
              </mat-optgroup>
              <mat-optgroup [label]="'Egyes kötésekkel'">
                <mat-option [disabled]="events.length !== 3" [value]="true">Patent</mat-option>
                <mat-option [disabled]="events.length !== 4" [value]="true">Lucky 15</mat-option>
                <mat-option [disabled]="events.length !== 5" [value]="true">Lucky 31</mat-option>
                <mat-option [disabled]="events.length !== 6" [value]="true">Lucky 63</mat-option>
                <mat-option [disabled]="events.length !== 7" [value]="true">Super Heinz</mat-option>
                <mat-option [disabled]="events.length !== 8" [value]="true">Goliath</mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Alaptét</mat-label>
            <input matInput formControlName="stakePerBet" type="number">
          </mat-form-field>
        </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Fogadás száma
            </th>
            <th>
              Odds
            </th>
            <th>
              Esemény nyertesség 
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container formArrayName="events">
            <tr *ngFor="let event of events.controls; let i=index" [formGroupName]="i">
              <td>
                {{i+1}}. fogadás:
              </td>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Odds</mat-label>
                  <input matInput formControlName="odds" type="number">
                  @if (event.invalid){
    
                  }
                </mat-form-field>
              </td>
              <td>
                  <mat-checkbox formControlName="won">Nyertes</mat-checkbox>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
        <button mat-button type="button" (click)="addEvent()">Esemény hozzáadása</button>
        <button mat-button type="button" [disabled]="events.length === 1" (click)="removeEvent()">Esemény törlése</button>
      </form>
    </div>
    <div class="col-sm-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Eredmények</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              A szelvény ára:
            </td>
            <td>
              {{totalValueOfBetSlip | number: '1.0-0'}} Ft
            </td>
          </tr>
          <tr>
            <td>
              Teljes nyereség:
            </td>
            <td>
              {{totalWinnings | number: '1.0-0'}} Ft
            </td>
          </tr>
          <tr>
            <td>
              Teljes profit/veszteség:
            </td>
            <td>
              {{totalProfit | number: '1.0-0'}} Ft
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>